body {
    align: center;
    font-family: sans-serif;
}

div#outer-container {
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}


div.row {
    clear: both;
    div.cell {
        color: white;
        width: 100px;
        height: 100px;
        margin: 5px;
        background-color: grey;
        font-size: 52px;
        float: left;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        line-height: 96px;
    }
}

div#game {
    width: 100%;
    div.cell-2 { background-color: #ccc; }
    div.cell-4 { background-color: #bbb; }
    div.cell-8 { background-color: #aaa; }
    div.cell-16 { background-color: #999;}
    div.cell-32 { background-color: #888}
    div.cell-64 { background-color: #777;}
    div.cell-128 {background-color: #666;}
    div.cell-256 {background-color: #555;}
    div.cell-512 {background-color: #444;}
    div.cell-1024 {backround-color: #333;}
    div.cell-2048 {background-color: #222;}
}

div#game:focus{
    outline: 0;
    -moz-outline-style: none;
}


div#score {
    font-size: 30px;
    float:right;
    background-color: grey;
    color: white;
    width: 190px;
    height: 40px;
    padding: 5px 10px;
    text-align: right;
    margin: 5px; //to match the rows below it
}
